.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 100%;
}

.title {
    margin-bottom: 1rem;
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: 700;
    color: #208C3C; 
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.viewerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.viewer {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
    margin-top: 3rem;
    padding: 1rem 0.5rem;
    }
    
    .title {
    font-size: 2.3rem;
    margin-top: 4rem;
    }
}

@media (max-width: 480px) {
    .container {
        margin-top: 2rem;
    }
    
    .title {
        font-size: 2.3rem;
    }
    
    .viewerWrapper {
        padding: 0;
    }
}